<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>회원가입 페이지</title>
    </head>
    <body>
        <h1>회원가입 페이지</h1><hr/>
        <form action="/join" method="POST">
            <input type="email" name="member_id" placeholder="Email을 입력하세요"/><br/>
            <input type="password" name="member_pw" placeholder="비밀번호를 입력하세요"/><br/>
            <input type="text" name="member_name" placeholder="이름을 입력하세요"/><br/>
            <input type="text" name="member_nickname" placeholder="닉네임을 입력하세요"/><br/>
            <button>회원가입</button>
        </form>
    </body>
</html>